*{
    margin: 0;
    padding: 0;
}
:root{
    /*Colors*/
    --text-color: #f0f8ff;
    --navbar-color: #1e1e1e;
    --border-color: #757272;
    --hover-color: #757272;
    --box-shadow-color: #f0f8ff;
    --top-menu-color: #000000;
    --search-menu-back-color:#4b4b4b;
    --main-color: #313131;
}
body{
    box-sizing: border-box;
   font-family: sans-serif;
   font-size: 15px;
   line-height: 1.5;
}
body.white{
    --text-color: #000000;
    --navbar-color: #d6d3d3;
    --border-color: #757272;
    --hover-color: #757272;
    --box-shadow-color: #f0f8ff;
    --top-menu-color: #fff;
    --search-menu-back-color:#e2e0e0;
    --main-color: #f7f5f5;
}
#navbar{
    height: 100%;
     border-right: 1px solid var(--border-color);
    width: 300px;
    letter-spacing: 0.2px;
    position: fixed;
    top: 83px;
    left:0;
    background-color: var(--navbar-color);
    transition: all 0.3s ease;
   
}
#navbar.close{
    width: 100px;
   
}
#navbar.close header{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap ;
    overflow: hidden;
    
}
#navbar.close header .toggle{
    font-size: 14px;
    transform: translateY(-50%);
    top:50%;
    right: -8px;
}
#navbar.close ul li a{
    font-size: 16px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap ;
    overflow: hidden;

}
#navbar header{
    text-align: center;
    color: var(--text-color);
    font-size: 28px;
    margin: 10px;
    position: relative;
    transition: all 0.3s ease;
}
#navbar header .toggle{
    color: var(--text-color);
    position: absolute;
    right: -15px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    top: 50%;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    transition: 0.3s ease
}

#navbar header .toggle:hover{
    color: var(--hover-color)!important;
   cursor: pointer;
   transition: 0.3s ease
}
#navbar ul{
    list-style: none;
    position: relative;
}
#navbar ul li{
   list-style: none;
   border-top: 1px solid var(--border-color);
   position: relative;
   width: 100%;
}

#navbar ul li a{
   text-decoration: none;
   color: var(--text-color);
   display: block;
   text-transform: capitalize;
   font-size: 17px;
   font-weight: 700;
   padding: 10px ;
   cursor: pointer;
   transition: all 0.4s ease;
}
#navbar ul li i{
    min-width: 25px;
}

.active, #navbar ul li a:hover{
    color: var(--hover-color)!important;
    box-shadow: 1px 1px 5px var(--box-shadow-color);
    border-left: 5px solid var(--border-color);
    transition: 0.3s ease
}
.menuU ul li a:hover{
    color: var(--hover-color)!important;
    box-shadow: 1px 1px 5px var(--box-shadow-color);
    transition: 0.3s ease
}
.top-menu{
    width: 100%;
    background-color: var(--top-menu-color);
    display: flex;
    margin: auto;
    position: fixed;
    z-index: 1;
}
.logo{
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    margin: 5px 10px;
    padding: 10px 25px;
}

.logo a{
    text-decoration: none;
    color: var(--text-color);
}
.search-menu{
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 10px;
}
.search-menu-field{
    --padding: 14px;
    border-radius: 28px;
    background: var(--search-menu-back-color);
    padding: var(--padding) 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.25s;
}
.search-menu-field:focus-within{
box-shadow: 1px 1px 5px var(--box-shadow-color);
}
.search-input{
    outline: none;
    font-size: 16px;
    color: var(--top-menu-color);
    margin-left: var(--padding);
    border: none;
    background: transparent;
    flex: 1;
}
.search-input::placeholder{
    color: var(--text-color);
}
.button-input{
  cursor: pointer;
 
  width: 50px;

  border:none;
  background: none;
  color: var(--text-color);
}
.button-input:hover{
    color: var(--top-menu-color);
}
.navigation{
    text-align: right;
    width: 100%;
    padding: 25px 5px;
    margin: 5px 10px;
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
display: inline;
padding: 2px;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
     padding: 5px;
}
.navigation ul li i:hover{
    color: var(--hover-color)!important;
}
#main-doc{
    position: relative;
    background-color: var(--main-color);
     top:83px;
    margin-left: 301px;  
   transition: all 0.3s ease;
    padding: 20px;

}
#main-doc.toggle-main{
    margin-left: 101px;  
}
#main-doc header{
    color: var(--text-color);
    text-align: left;
    margin: 0;
    font-size: 24px;
}
.main-section{
    display: block;
    unicode-bidi: isolate;
}
.main-section article{
    color: var(--text-color);
    margin: 15px;
    font-size: 15px;
    background-color: var(--navbar-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
}
.main-section article p{
padding: 8px;

}
.main-section article ul{
   display: block;
}
.main-section article li{
    margin: 15px 0px 0px 40px;
    
}
.main-section article code{
display: block;
border-radius: 8px;
background-color: var(--search-menu-back-color);
text-align: left;
margin: 10px;
padding: 10px;
line-height: 2;
word-break: normal;
    word-wrap: normal;
    position: relative;
    white-space: pre-line;
}
.main-section article a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
.main-section article a:hover{
    color: var(--hover-color)!important;
    box-shadow: 1px 1px 5px var(--box-shadow-color);
}
.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 100;
}
.menuU{
    max-width: 300px;
    text-align: center;
    letter-spacing: 0.2px;
     border-left: 2px solid var(--border-color);
     border-right: 2px solid var(--border-color);
     transition: 0.5s ease;
     transform: translateX(0);
     backdrop-filter: blur(5px);
     border-radius: 10px;
     box-shadow: 10em;
     margin-left: auto;
     margin-right: 0;
     margin-top: 15px;
     display: none;
     opacity: 0;
}
.menuU ul li a{
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.menuU h1{
    font-size: 22px;
    color: var(--text-color);
    text-align: center;
    padding:  10px 0;
    pointer-events: none;
}

.menuU hr{
    color: var(--text-color);
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.active2{
    display: block;
       opacity: 1;
}
.bottom-content{
   width: 100%;
   position: relative;

}
.mode{
    display: flex;
    height: 50px;
}
.bottom-content li{
    list-style: none;
}
.mode .text{
    display: flex;
align-items: center;
width: 50%;
justify-content: center;
color: var(--text-color);
font-size: 15px;
}
#navbar.close .text{
    display: none;
}
.bottom-content .mode .moon-sun{
width: 10%;
height: 100%;
display: flex;
align-items: center;
margin-left: 10px;
color: var(--text-color);
}
.bottom-content .mode i{
    position: absolute;
    transition: 0.3s ease;
   
}
.bottom-content .mode i.sun{
    opacity: 0;
}
body.white .bottom-content .mode i.sun{
    opacity:1;
}
body.white .bottom-content .mode i.moon{
    opacity: 0;
}
.mode .toggle-sw{
    display: flex;
    height: 100%;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    width: 40%;
    transition: 0.3s ease;
}
.toggle-sw .sw{
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--search-menu-back-color);
    border-radius: 25px;
    color: var(--text-color);
    cursor: pointer;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transition: 0.3s ease;
}
.sw::before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: var(--text-color);
    border-radius: 50%;
    transform: translateY(50%);
   
   top: -4px;
    left: 3px;
    transition:  0.3s ease;
}
body.white .sw::before{
    left: 24px;
}
#navbar.close footer{
    font-size: 8px;
}
footer{
    bottom: 83px;
    position: absolute;
    color:  var(--border-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 14px;
}

   @media (max-width: 720px) {
    body {
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 1.5;
    }
  }