*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
   font-family: sans-serif;
   font-size: 15px;
   line-height: 1.5;
}
#navbar{
    height: 100%;
   
    border-right: 1px solid #757272;
    min-width:290px;
    width: 300px;
    letter-spacing: 0.2px;
    position: fixed;
    top: 83px;
    left:0;
    background-color: #1e1e1e;
}
#navbar header{
    text-align: center;
    color: #f0f8ff;
    font-size: 28px;
    margin: 10px;
}
#navbar ul{
    list-style: none;
    position: relative;
}
#navbar ul li{
   list-style: none;
   border-top: 1px solid #757272;
   position: relative;
   width: 100%;
}
#navbar ul li a{
   text-decoration: none;
   color: #f0f8ff;
   display: block;
   text-transform: capitalize;
   font-size: 14px;
   font-weight: 700;
   padding: 10px ;
   cursor: pointer;
}
.active, #navbar ul li a:hover{
    color: #757272;
    box-shadow: 1px 1px 5px #f0f8ff;
}
.top-menu{
    width: 100%;
    background-color: #000000;
    display: flex;
    margin: auto;
    position: fixed;
    z-index: 1;
}
.logo{
    text-align: left;
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    margin: 5px 10px;
    padding: 10px 25px;
}

.logo a{
    text-decoration: none;
    color: #f0f8ff;
}
.search-menu{
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 10px;
}
.search-menu-field{
    --padding: 14px;
    border-radius: 28px;
    background: #4b4b4b;
    padding: var(--padding) 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.25s;
}
.search-menu-field:focus-within{
box-shadow: 1px 1px 5px #f0f8ff;
}
.search-input{
    outline: none;
    font-size: 16px;
    color: #000000;
    margin-left: var(--padding);
    border: none;
    background: transparent;
    flex: 1;
}
.search-input::placeholder{
    color: #f0f8ff;
}
.button-input{
  cursor: pointer;
 
  width: 50px;

  border:none;
  background: none;
  color: #f0f8ff;
}
.button-input:hover{
    color: #000000;
}
.navigation{
    text-align: right;
    width: 100%;
    padding: 25px 5px;
    margin: 5px 10px;
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
display: inline;
padding: 2px;
}
.navigation ul li a{
    text-decoration: none;
    color: #f0f8ff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
     padding: 5px;
}

#main-doc{
    position: relative;
    background-color: #313131;
     top:83px;
    margin-left: 301px;  
   
    padding: 20px;

}
#main-doc header{
    color: #f0f8ff;
    text-align: left;
    margin: 0;
    font-size: 24px;
}
.main-section{
    display: block;
    unicode-bidi: isolate;
}
.main-section article{
    color: #f0f8ff;
    margin: 15px;
    font-size: 15px;
    background-color: #1e1e1e;
    border-left: 1px solid #757272;
    border-bottom: 1px solid #757272;
    border-radius: 8px;
    padding: 10px;
}
.main-section article p{
padding: 8px;
}
.main-section article ul{
   display: block;
}
.main-section article li{
    margin: 15px 0px 0px 40px;
}
.main-section article code{
display: block;
border-radius: 8px;
background-color: #4b4b4b;
text-align: left;
margin: 10px;
padding: 10px;
line-height: 2;
word-break: normal;
    word-wrap: normal;
    position: relative;
    white-space: pre-line;
}
.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 100;
}